.breadcrumb {
    @apply flex flex-row font-medium p-2;

    * {
        transition: all .25s;
        @apply mr-3 px-2 p-0.5 cursor-pointer relative rounded-lg;
    }

    >:not(:last-child):after {
        content: "/";
        @apply absolute -right-3;
    }

    >:last-child {
        @apply font-bold;
    }

    >:not(:last-child):hover {
        @apply bg-primary-100 text-primary-900;
    }

    &.arrow>:not(:last-child):after {
        content: ">";
    }

    &.extra_small {
        @apply text-xs;
    }

    &.small {
        @apply text-sm;
    }

    &.large {
        @apply text-lg;
    }

    &.extra_large {
        @apply text-xl;
    }
}