.collapse {
    @apply 
    flex
    flex-col
    gap-1
    rounded-md
    overflow-hidden;

    * {
        @apply 
        ease-in
        duration-200;
    }

    &.xs {
        @apply text-xs;

        .title {
            @apply
            h-4
            px-2;

            &::after {
                @apply w-4;
            }
        }
    }

    &.sm {
        @apply text-sm;

        .title {
            @apply
            h-6
            px-2;
        }
    }

    &.lg {
        .title {
            @apply
            text-lg
            h-12;

            &::after {
                @apply w-5;
            }
        }
    }

    &.xl {
        .title {
            @apply
            text-xl
            h-16;

            &::after {
                @apply w-6;
            }
        }
    }

    .title {
        @apply
        h-10
        px-2
        rounded-md
        w-full
        inline-flex
        justify-center
        items-center
        font-medium
        text-primary-900
        bg-primary-50
        border border-primary-300
        text-center
        truncate;
    }

    .title:hover,.title:focus {
        @apply
        bg-primary-100
    }

    &.arrow .title, &.plus .title {
        @apply justify-between;
    }

    &.arrow .title::after {
        content: "";
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='currentColor'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M17 13l-5 5m0 0l-5-5m5 5V6' /%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: center;
        @apply w-5 h-full flex justify-center items-center rotate-0 ease-in duration-100;
    }

    &.plus .title::after {
        content: "";
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='currentColor'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M12 6v6m0 0v6m0-6h6m-6 0H6' /%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: center;
        @apply w-5 h-full flex justify-center items-center rotate-0 ease-in duration-100;
    }

    .content {
        @apply p-2 bg-slate-50 rounded-md border border-slate-300;
    }

    &.outline {
        @apply gap-0 outline-none border border-gray-300;
        
        .title {
            @apply border-none rounded-none;
        }
        
        .content {
            @apply border-none border-t border-slate-300 rounded-none;
        }
    }

    &.outline:hover,&.outline:focus {
        @apply border-primary-600;
    }
}