.button {
    @apply
    inline-flex
    items-center
    justify-center
    gap-2
    h-9
    px-4
    text-base
    text-center
    rounded-md
    bg-blue-600
    text-white
    font-semibold
    truncate

    ease-in
    duration-100

    hover:bg-blue-500
    hover:ring-2
    hover:ring-blue-200
    active:ring-4
    active:ring-blue-200;
        
    svg {
        @apply h-5;
    }
    &.secondary {            
        @apply 
        bg-slate-600 
        hover:bg-slate-500
        hover:ring-2
        hover:ring-slate-200
        active:ring-4
        active:ring-slate-200;
    }
    &.success {
        @apply 
        bg-green-500 
        hover:bg-green-400
        hover:ring-2
        hover:ring-green-200
        active:ring-4
        active:ring-green-200;
    }
    &.emergency {
        @apply 
        bg-red-500 
        hover:bg-red-400
        hover:ring-2
        hover:ring-red-200
        active:ring-4
        active:ring-red-200;
    }
    &.warning {
        @apply 
        bg-amber-500 
        hover:bg-amber-400
        hover:ring-2
        hover:ring-amber-200
        active:ring-4
        active:ring-amber-200;
    }
    &.ghost {
        @apply 
        text-slate-900 
        bg-transparent 
        hover:bg-slate-100
        hover:ring-2
        hover:ring-slate-200
        active:ring-4
        active:ring-slate-200;
    }
    &.full {
        @apply w-full;
    }
    &.round {
        @apply rounded-full;
    }
    &.extra_small {
        @apply text-xs h-4 px-2;
    }
    &.small {
        @apply text-sm h-6 px-2;
    }
    &.large {
        @apply text-lg h-12;
    }
    &.extra_large {
        @apply text-xl h-16;
    }
    &.icon {
        @apply w-9 p-1.5;
        svg {
            @apply w-full h-full;
        }
        &.extra_small {
            @apply w-4 p-0.5;
        }
        &.small {
            @apply w-6 p-1;
        }
        &.large {
            @apply w-12 p-2;
        }
        &.extra_large {
            @apply w-16 p-2;
        }
    }
    &.outline {
        @apply outline-none bg-transparent border border-blue-600 text-blue-600 hover:bg-blue-50;
    }
    &:disabled {
        @apply 
        cursor-not-allowed 
        bg-slate-200 
        border-slate-600
        text-slate-700 
        hover:bg-slate-100
        hover:ring-2
        hover:ring-slate-200
        active:ring-4
        active:ring-slate-200;
        &.ghost {
            @apply text-gray-700 bg-transparent;
        }
    }
}

// Button group

.button_group {
    @apply flex flex-nowrap flex-row p-1;

    &.full {
        @apply w-full;
        >* {
            @apply flex-1;
        }
    }

    &.pill {
        @apply gap-1;
        
        >*{
            @apply rounded-md;
        }
    }
    
    &.vertical {
        @apply flex-col w-32 h-auto rounded-none;
        &.full {
            @apply w-full;
            >* {
                @apply flex-none;
            }
        }
        button, a {
            @apply w-full;
            &:not(:first-child) {
                @apply m-0 mt-0.5;
            }
            &:first-child {
                @apply rounded-t-md rounded-b-none;
            }
            &:last-child {
                @apply rounded-b-md rounded-t-none;
            }
            &.icon {
                @apply w-full h-10;
            }
            &.small {
                @apply w-24;
            }
            &.large {
                @apply w-40;
            }
        }
    }
    button, a {
        @apply rounded-none;
        
        &:not(:first-child) {
            @apply m-0 ml-0.5;
        }
        &:first-child {
            @apply rounded-l-md;                
        }
        &:last-child {
            @apply rounded-r-md;
        }
    }
    &.extra_small > button {
        @apply text-xs h-4 px-2;
        &.icon {
            @apply w-4 p-0.5;
        }
    }
    &.small > button {
        @apply text-sm h-6 px-2;
        &.icon {
            @apply w-6 p-1;
        }
    }
    &.large > button {
        @apply text-lg h-12;
        &.icon {
            @apply w-12 p-2;
        }
    }
    &.extra_large > button {
        @apply text-xl h-16;
        &.icon {
            @apply w-16 p-2;
        }
    }
}